#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.nav-link {
    display: flex;
    justify-content: space-evenly;
}
.link {
    text-decoration: none;
    font: 18px;
    color: #000;
}
.country-name {
    text-transform: uppercase;
    font-size: 2em;
}
